
:root {
    --primary-color: #9C88FF;
    --secondary-color: #4F1787;
    --dark-color: #1F2937;
    --light-color: #F9FAFB;
    --gray-color: #E5E7EB;
    --success-color: #493D9E;
}

.btn-success {
    background-color: var(--primary-color) !important;
    border: solid var(--primary-color);
}
    .btn-success:hover {
        background-color: var(--secondary-color) !important;
        border: solid var(--secondary-color);
    }

.text-primary {
    color: var(--primary-color) !important;
}

.table-primary {
    background-color: #BEADFA !important;
}
.my-css {
    margin-top: 5.5rem !important;
    margin-bottom: 6.2rem !important;
}