.heading {
    text-align: center;
    font-size: 4rem;
    color: #9C88FF;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(224, 224, 224);
}

.details .row {
    display: flex;
    align-items: center;
    margin: 100px auto;
    width: 95%;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    box-shadow: 0 5px 20px #18283b87;
    border-radius: 0.5rem;
    min-height: 200px;
}

    .details .row .pict-container {
        flex: 1 1 40rem;
        position: relative;
    }

        .details .row .pict-container img {
            width: 100%;
            /* border: 1.5rem solid #18283B; */
            border-radius: 0.5rem;
            /* box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1); */
        }



    .details .row .content-de {
        flex: 1 1 40rem;
    }

        .details .row .content-de h3, #heading, #heading1 {
            font-size: 2rem;
            color: #9C88FF;
            padding: .5rem 0;
            padding-top: 1rem;
            padding-bottom: 3rem;
            line-height: 1.5;
        }

#heading {
    text-align: right;
    margin-right: 2rem;
}

#heading1 {
    text-align: center;
    margin-right: 2rem;
}

#text {
    font-weight: 500;
}

.details .row .content-de p {
    font-size: 1rem;
    color: #18283B;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 3rem; */
    line-height: 2.1rem;
    width: 80%;
}

.content-de {
    text-align: right;
}

.big-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    text-align: right;
}

    .info img {
        width: 35px;
        height: 35px;
        margin: 0 auto;
        padding: 1px;
    }

#det {
    font-size: 20px;
    font-weight: 400;
}

.btn-de {
    --color: #9C88FF;
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

    .btn-de:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    .btn-de:hover {
        color: #fff;
    }

    .btn-de:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    .btn-de:hover:before {
        top: -30px;
        left: -30px;
    }

    .btn-de:active:before {
        background: #3a0ca3;
        transition: background 0s;
    }

.big-contant {
    margin-bottom: 300px;
}

.comments {
    width: 85%;
    margin: 10px auto;
    border-radius: 60px;
}

.timeline-item {
    position: relative;
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.prof {
    width: 45px;
    height: 45px;
    display: flex;
    padding-left: 60px;
}

.timeline-content {
    display: flex;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(24, 40, 59, 0.133);
    position: relative;
    width: 100%;
    z-index: 1;
    border: #9C88FF solid 1px;
}

    .timeline-content h2 {
        margin-top: 0;
    }

    .timeline-content p {
        margin-bottom: 0;
    }

    .timeline-content .date {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        color: #777;
    }


@media (max-width:450px) {
    .heading {
        font-size: 3rem;
    }
}


/*comment*/
.search-bar {
    width: 30%;
    max-width: 50%;
    height: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    background: #F5F6FA;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #9C88FF;
    padding: 10px 20px;
    box-shadow: 0 5px 5px rgba(24, 40, 59, 0.133);
}

    .search-bar input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 10px 10px;
        font-size: 20px;
        color: #9C88FF;
    }

::placeholder {
    color: #9C88FF;
}

.search-bar button img {
    width: 30px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: none;
    cursor: pointer;
}




