@model Reservation
@* عشان نخلي الستايل لذا الفيو بس  *@
@section Styles {
    <link rel="stylesheet" href="~/css/Event/book.css" />
  
}

<h1 class="head8" style="margin-top:80px;">معلوماتك</h1>
<div class="containertop" style="margin:130px auto 300px;">


    <form class="row g-3 needs-validation containertop"  asp-action="booking" asp-controller="Event" method="post">
        <input type="hidden" asp-for="EventId"  />
        <input type="hidden" asp-for="UserId" class="form-control"  value="1" required>
            
        <div class="col-md-4"> 
          <label asp-for="IdNumber"  class="form-label">رقم الهوية</label> 
             <input type="text" asp-for="IdNumber" class="form-control" value="1"  required> 
          
         </div>
        
        

        <div class="col-md-4">
          <label asp-for="Email" for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation ">
                  <input type="text" asp-for="Email" class="form-control"  required>
          </div>
        </div>
        <div class="col-md-6">
          <label asp-for="PhoneNumber"  class="form-label">رقم الجوال</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" required>
        </div>
        <div class="col-md-3">
          <label asp-for="BookingDate"  class="form-label">تاريخ الحجز</label>
            <input type="date" asp-for="BookingDate" class="form-control" value="@DateTime.Now" required>
        </div> 
        
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">تأكيد الحجز</button>
        </div>
      </form>
</div>