@model Reservation
@* عشان نخلي الستايل لذا الفيو بس  *@
@section Styles {
    <link rel="stylesheet" href="~/css/Event/book.css" />
  
}



@* <div class="details">
    <div class="form-container">
        <form method="post" id="form" class="">
            <div class="form-group money">

                <input type="hidden" id="money" name="@Model.EventId">
            </div>
            <div class="form-group name">
                <label class="labels" for="name">البريد الإلكتروني</label>
                <input type="text" id="name" name="name-gift">
            </div>
            <div class="form-group name-to">
                <label class="labels" for="name-to">رقم الهاتف</label>
                <input type="text" id="name-to" name="name-to-gift">
            </div>
            <div class="form-group">
                <label for="textarea" class="labels">ملاحظاتك</label>
                <textarea required="" cols="50" rows="10" id="textarea" name="textarea"></textarea>
            </div>
        </form>
        <form action="Booked.html">
            <input class="btn" type="submit" value="تأكيد الحجز" />
        </form>



    </div>

</div> *@

<h1 class="head8" style="margin-top:80px;">معلوماتك</h1>
<div class="containertop" style="margin:130px auto 300px;">


    <form class="row g-3 needs-validation containertop" novalidate asp-action="booking" asp-controller="Event" method="post">
        <input type="hidden" asp-for="EventId"  />
        <input type="hidden" asp-for="UserId" class="form-control" id="validationCustom01" value="1" required>
            
        <div class="col-md-4"> 
          <label asp-for="IdNumber" for="validationCustom01" class="form-label">رقم الهوية</label> 
             <input type="text" asp-for="IdNumber" class="form-control" id="validationCustom01"  required> 
           <div class="valid-feedback"> 
             Looks good! 
           </div>
         </div>
        
        

        <div class="col-md-4">
          <label asp-for="Email" for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation ">
                  <input type="text" asp-for="Email" class="form-control"  required>
      
            <div class="invalid-feedback">
              Please choose a Email.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label asp-for="PhoneNumber" for="validationCustom03" class="form-label">رقم الجوال</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" required>
          <div class="invalid-feedback">
            ادخل رقم الهاتف
          </div>
        </div>
        <div class="col-md-3">
          <label asp-for="BookingDate" for="validationCustom05" class="form-label">تاريخ الحجز</label>
            <input type="date" asp-for="BookingDate" class="form-control"  required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div> 
        <div class="col-12">
          <div class="form-check" style="direction:ltr;">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">تأكيد الحجز</button>
        </div>
      </form>
</div>