@section Styles{
    <link href="~/css/Event/eventDate.css" rel="stylesheet" />
}

    <div class="calendar">
        <div class="calendar-header">
            <button id="prev-period">&#9664;</button>
            <div class="calendar-title" id="period-title">شهر سنة</div>
            <button id="next-period">&#9654;</button>
        </div>

        <div class="view-options">
            <button id="month-view-btn" class="active">شهري</button>
            <button id="week-view-btn">أسبوعي</button>
            <button id="day-view-btn">يومي</button>
        </div>

        <div class="month-view" id="month-view">
            <div class="calendar-weekdays">
                <div>الأحد</div>
                <div>الاثنين</div>
                <div>الثلاثاء</div>
                <div>الأربعاء</div>
                <div>الخميس</div>
                <div>الجمعة</div>
                <div>السبت</div>
            </div>

            <div class="calendar-days" id="month-days">
                
            </div>
        </div>

       
        <div class="week-view" id="week-view">
            <div class="calendar-weekdays" id="week-days-header">
              
            </div>
            <div class="week-days" id="week-days">
               
            </div>
        </div>

        
        <div class="day-view" id="day-view">
            <div class="day-header" id="day-header">
               
            </div>
            <div class="time-slots" id="time-slots">
               
            </div>
        </div>
    </div>

    <button class="today-floating-btn" id="today-floating-btn" title="العودة إلى اليوم الحالي">
        اليوم
    </button>
    <script src="~/js/EventDate.js"></script>